<%- include("../../partials/header.ejs")%>
<%- include("../../partials/navbar.ejs")%>
<div class="container">
    <h1><%- data.title %></h1>
    <hr>
    <p><%- data.body%></p>
</div>
<%- include("../../partials/footer.ejs")%>