
<%- include("../../partials/header.ejs")%>
<%- include("../../partials/navbar.ejs")%>
<div class="container">

    <div class="jumbotron">
        <h1 class="display-4">Bem vindo a blog test!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    </div>

    <h1>Artigos</h1>
    <hr>
        <% data.forEach((item)=>{%>
            <div class="card">
                <div class="card-body"><%= item.title%></div>
                <div class="card-footer">
                    <a class="btn btn-success" href="/article/<%=item.slug%>">Ler Artigo</a>
                </div>
            </div><br>
        <% })%>
</div>

<%- include("../../partials/footer.ejs")%>
